root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[Makefile]
indent_style = tab

[*.gitconfig]
indent_style = tab 

[*.lua]
indent_style = space
indent_size = 2

[*.fish]
indent_style = space
indent_size = 4

[*.ps1]
charset = utf-8-bom # BOM is important so that Powershell decodes the file right.
