[core]
	excludesfile = ~/.gitignore
[user]
	name = Ruben Schmidmeister
	email = ruben.schmidmeister@icloud.com
[push]
	default = current
[pull]
	default = current
[commit]
	gpgsign = true
[gpg]
	program = /usr/local/bin/gpg2
[alias]
    housekeep = "!git branch --merged development | grep -v development | xargs git branch -d"
