[user]
	name = Ruby Schmidmeister
	email = ruby@fog.im

[push]
	default = current

[core]
	ignorecase = false
	filemode = false
	excludesfile = /Users/ruby/.gitignore

[fetch]
	recurseSubmodules = true
[filter "lfs"]
	clean = git-lfs clean %f
	smudge = git-lfs smudge %f
	required = true
