symlink {
    ".config/1Password/ssh/agent.toml"
    ".config/alacritty"
    ".config/homebrew" os="Darwin"
    ".config/Code/User/settings.json" os="Linux"
    ".config/Code/User/keybindings.json" os="Linux"
    ".config/color-scheme-sync.d" os="Linux"
    ".config/bat"
    ".config/beets"
    ".config/fish/conf.d"
    ".config/fish/config.fish"
    ".config/fish/functions"
    ".config/git/.gitignore"
    ".config/git/config"
    ".config/helix"
    ".config/kitty" os="Linux"
    ".config/lazygit/config.base.yml"
    ".config/lazygit/config.dark.yml"
    ".config/lazygit/config.light.yml"
    ".config/nvim"
    ".config/sqlite3/sqliterc"
    ".config/sublime-merge/Packages/User/Preferences.sublime-settings" os="Linux"
    ".config/sublime-text/Packages/User/Preferences.sublime-settings" os="Linux"
    ".config/tmux"
    ".config/user-tmpfiles.d" os="Linux"
    ".config/wezterm"
    ".config/wireplumber" os="Linux"
    ".config/zed/keymap.json"
    ".config/zed/settings.json"
    ".editorconfig"
    ".local/bin/code" os="Linux"
    ".local/bin/flacs2mp3s"
    ".local/bin/mkweblink"
    ".local/bin/reset-desktop-used-apps" os="Linux"
    ".local/bin/smerge" os="Darwin"
    ".local/bin/subl" os="Darwin"
    ".var/app/dev.zed.Zed/config/keymap.json" os="Linux"
    ".var/app/dev.zed.Zed/config/settings.json" os="Linux"
    "Library/Application Support/Code/User/settings.json" os="Darwin"
    "Library/Application Support/Code/User/keybindings.json" os="Darwin"
    "Library/Application Support/Sublime Merge/Packages/User/Preferences.sublime-settings" os="Darwin"
    "Library/Application Support/Sublime Text/Packages/User/Preferences.sublime-settings" os="Darwin"
}

touch {
    ".config/git/local.gitconfig"
    ".config/containers/nodocker"
}

vscode-extensions {
    editorconfig.editorconfig
    ms-python.python
    ms-python.black-formatter
    tamasfe.even-better-toml
    rust-lang.rust-analyzer
    nvarner.typst-lsp
    alefragnani.bookmarks
    bmalehorn.vscode-fish
    timonwong.shellcheck
    github.vscode-github-actions
    kdl-org.kdl
}

pipx {
    "black~=24.8.0"
    "pygments~=2.18.0"
    yt-dlp
    beets
}
