[Desktop Entry]
Name=1Password
Exec=1password %U --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --silent
Terminal=false
Type=Application
Icon=1password
