[Desktop Entry]
Name=1Password
Exec=/opt/1Password/1password %U --enable-features=UseOzonePlatform,WaylandWindowDecorations --ozone-platform=wayland --silent
Terminal=false
Type=Application
Icon=1password
