[Unit]
Requires=forward-ports-https.socket
After=forward-ports-https.socket

[Service]
Type=notify
ExecStart=/usr/lib/systemd/systemd-socket-proxyd 127.0.0.1:1443
PrivateTmp=yes
