[Unit]
Description=Forwards port :53 -> :1053
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=/usr/local/bin/forward-dns-port
PrivateTmp=yes
BindReadOnlyPaths=/etc/forward-ports/dns-interface

[Install]
WantedBy=default.target
