[Unit]
Description=Forwards port :443 -> :1443
Requires=network-online.target
After=network-online.target

[Service]
PrivateTmp=yes
ExecStart=socat TCP-LISTEN:443,fork TCP:127.0.0.1:1443

[Install]
WantedBy=default.target
